astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
esprima==4.0.1
fastjsonschema==2.20.0
frontmatter==3.0.8
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
-e git+https://github.com/CodeBlackwell/LibLearner.git@9f94ece2b714fbfa5b508487a4bc135ef58da379#egg=liblearner&subdirectory=liblearner
nbformat==5.10.4
numpy==2.1.3
openai>=1.0.0
pandas==2.2.3
pathlib==1.0.1
platformdirs==4.3.6
python-dateutil==2.9.0.post0
python-frontmatter==1.1.0
python-magic==0.4.27
pytz==2024.2
PyYAML==5.1
referencing==0.35.1
regex==2024.11.6
rpds-py==0.21.0
six==1.16.0
soupsieve==2.6
traitlets==5.14.3
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2024.2
